<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parse service</title>
</head>

<body>
    <h1>Ошибка выполнения команды</h1>
    <div>{{ error }}</div>
    <a href="/web/">На главную</a><br>
</body>

</html>