<html>
    <head>
        <title>
            {{ title }}
        </title>
    </head>
    <body>
        <h1>
            {{ message }}
        </h1>
        {{#if loggedIn }}
            <a href="/web/lesson5/">Статьи</a><br>
            <form method="POST" action="/web/auth/signout/">
                <button type="submit">Выйти</button>
            </form>    
        {{else}}
            <a href="/web/auth/login/">Войти</a><br>
            <a href="/web/auth/google">Войти через Google</a><br>
            <a href="/web/auth/signup/">Зарегистрироваться</a>
        {{/if}}
    </body>
</html>